<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://portalarm-001-site1.btempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://portalarm-001-site1.btempurl.com:8172/MsDeploy.axd?site=portalarm-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>portalarm-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>portalarm-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FileStorageDB" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL5050.site4now.net;Initial Catalog=DB_A5AAC3_afs;User ID=DB_A5AAC3_afs_admin;Password=qazwsx123cde" Name="Data Source=SQL5050.site4now.net;Initial Catalog=DB_A5AAC3_afs;User Id=DB_A5AAC3_afs_admin;Password=qazwsx123cde;MultipleActiveResultSets=true;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ActualFileStorage.DAL.Models.FileStorageContext, ActualFileStorage.DAL" MigrationConfiguration="ActualFileStorage.DAL.Migrations.Configuration, ActualFileStorage.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="FileStorageDB-Web.config Connection String">
      <ParameterValue>Data Source=SQL5050.site4now.net;Initial Catalog=DB_A5AAC3_afs;User Id=DB_A5AAC3_afs_admin;Password=qazwsx123cde;MultipleActiveResultSets=True;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>