@model ActualFileStorage.PL.Models.ViewIdViewModel
@using System.Security.Claims;
<script>
    @{
        var callerId = ((User.Identity.IsAuthenticated ?
                    int.Parse(((ClaimsIdentity)User.Identity).FindFirst(ClaimTypes.NameIdentifier).Value) :
                    (int?)null)).ToString();
        string userId = Model.UserId.HasValue ? Model.UserId.Value.ToString() : "null";
        string folderId = Model.FolderId.HasValue ? Model.FolderId.Value.ToString() : "null";
    }
    var defUserId = @userId;
    var folder = @folderId;
    var hist;//, prevHist;


    $(document).ready(function () {
        loadFolder(folder, defUserId);
        $(".breadcrumb").on("click",".breadcrumb-item", e => {
            clearInfo();
            loadFolder($(e.target).attr("data-id"));
        });
        $("#contentDiv")
            .on('click', '.c-file', e => {
                toggleSelection(e);
                let newVal = $(e.target).attr("value");
                if ($(".object-info").attr("data-id") == newVal || $(".object-info").is(":hidden"))
                    $(".object-info").toggle();
                //$("html").append("clicked!");
                if ($(".object-info").is(":visible")) {
                    $(".object-info").attr("data-id", newVal);
                    $.ajax({
                        url: "/Profile/GetFileInfo",
                        data: { "id": newVal },
                        method: "POST",
                        success: data => $(".object-info").html(data)
                    });
                }
            })
            .on('click', ".c-folder", e => {
                toggleSelection(e);
                //console.log(e.target);
            })
            .on('dblclick', ".c-folder", e => {
                clearInfo();
                loadFolder($(e.target).attr("value"));
            })
            .on("mousedown", ".c-folder", e => {
                if (e.detail > 1)
                    e.preventDefault();
                })
            .on("drop", function (e) {
                e.preventDefault();
                e.stopPropagation();
                let uploadFolder = $(e.target);

                if (!uploadFolder.is(".c-folder"))
                        uploadFolder = $(e.target).find(".c-folder");

                let folderId = null;
                if (uploadFolder)
                    folderId = uploadFolder.attr("value");

                var a = new FormData();
                a.append("folderId", folderId);
                for(let file of e.originalEvent.dataTransfer.files)
                    a.append("files", file);

                $.ajax({
                    url: "/Profile/UploadFiles",
                    data: a,
                    contentType: false,
                    processData: false,
                    method: "POST",
                    success: function (z) {
                        $(e.target).trigger("dragleave");
                    }
                });
        });;
        $("html")
            .on("dragover", e => {
                e.preventDefault();
                e.stopPropagation();
                let target = $(e.target);
                if (target.is("#contentDiv") || target.closest("#contentDiv").length > 0)
                    target.css("background-color", "gray");
            })
            .on("drop", e => {
                e.preventDefault();
            })
            .on("dragleave", e => {
                $(e.target).css("background-color", "transparent");
            });


        $("#removeFile").on("click", e => {
            let fileToDelete = $(".selected-object .c-file");
            console.log(fileToDelete);

            if (fileToDelete.length != 1)
                return;
            $.ajax({
                method: "POST",
                url: "/Profile/RemoveFile",
                data: { "id": fileToDelete.attr("value") },
                success: d => { /*console.log("ayy");*/
                    fileToDelete.closest(".selected-object").remove();
                }
            });
        });
        $("#removeFolder").on("click", e => {
            let folderToDelete = $(".selected-object .c-folder");
            console.log(folderToDelete);

            if (folderToDelete.length != 1)
                return;
            console.log(folderToDelete.attr("value"));
            $.ajax({
                method: "POST",
                url: "/Profile/RemoveFolder",
                data: { "id": folderToDelete.attr("value") },
                success: d => { /*console.log("ayy");*/
                    folderToDelete.closest(".selected-object").remove();
                }
            });
        });

        window.addEventListener('popstate', e => {
            state = e.state;
            if(state != null && state != "null"){
                loadFolder(state.folder, state.uId, true);
            }
        });
    });
</script> 
<div class="container">
    <div class="row">
        @if (callerId.Equals(userId))
        {
            <div id="sidebar" class="col-4 col-lg-3 d-flex bg-light flex-column tx-size-16">
                <button id="addFile" onclick="alert('Добавить файл можно путём перетаскивания файлов в розовую область');" class="btn tx-size-16 text-center" href="#">Добавить файл</button>
                <button id="addFolder" onclick="addFolderInput();" class="btn tx-size-16 text-center" href="#">Добавить папку</button>
                <button id="removeFile" class="btn tx-size-16 text-center" href="#" disabled>Удалить файл</button>
                <button id="removeFolder" class="btn tx-size-16 text-center" href="#" disabled>Удалить папку</button>
            </div>
        }
        <div class="col">
            <div class="row breadcrumb text-info">
            </div>
            <div id="contentDiv">
            </div>
        </div>
        <div @*id="infoDiv"*@class="col-4 object-info text-justify">
            Maecenas eu dignissim magna.
            Cras congue posuere mauris, et hendrerit diam mattis ac.
            Phasellus ut mattis ante.
        </div>
    </div>
</div>
