@{
    ViewBag.Title = "About";

}
    <h2>В данном проекте реализовано:</h2>
    <ul>
        <li>Регистрация пользователя ajax запросом</li>
        <li>Авторизация пользователя ajax запросом</li>
        <li>Роли</li>
        <li>Панель администратора, в которой можно изменять роли пользователей (доступна только администраторам)</li>
        <li>Добавление папок</li>
        <li>Добавление файлов с помощью drag and drop</li>
        <li>Просмотр информации о текущей папке</li>
        <li>Просмотр информации о выбранном файле</li>
        <li>Скачивание файла</li>
        <li>Удаление папки (вместе с внутренними данными)</li>
        <li>Удаление файла (вместе с внутренними данными)</li>
        <li>Изменение уровня доступа папки/файла (доступно всем, доступно зарегистрированным, доступно создателю)</li>
        <li>Добавление короткой ссылки файлу/папке</li>
    </ul>
